#pi_value
{
	background-color: #42414d;
	color: #fbfbfe;
	font-size: 20px;
	min-width: 500px;
	min-height: 200px;
	/*flex: 1;*/
	margin-bottom: 20px;
}

#pi
{
	display: flex;
	justify-content: left;
    flex-direction: column;
	justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
	/*border: 5px black solid;*/
	flex: 1;
}

#main
{  
   flex: 1;
   display: flex;
   flex-direction: column;
   padding-left: 15%;
   padding-right: 15%;
   padding-top: 30px;
   padding-bottom: 100px;
}

html
{
	height: 100%;
}
body
{
	display: flex;
	flex-direction: column;
	justify-self: center;
	height: 100%;
}

/* FOOTER*/
footer
{  
   color: #909098;
   padding: 2px;
   text-align: center;
   margin-top: 20px;
   min-width: 100%;
   display: flex;
   justify-content: space-evenly;

   position: fixed;
   bottom:0;
}

h1
{
	font-size: 50px;
}

textarea
{
	border: #2b2a33;
}

.center
{
	display: flex;
	justify-content: center;
}

.red
{
	color: red;
}

.button
{  
   border: 2px solid #42414d;
   border-radius: 9px;
   font-size: 1.2em;
   width: 100%;
   padding: 10px 20px;
   margin: 8px 0;
   box-sizing: border-box;
}

.button:hover{
	background-color: #42414d;  
	color: white;
	transition: 0.6s all;
 }

*
{
	background-color: #2b2a33;
	/*color: #fbfbfe;*/
	color: #909098;
	margin: 0;
	padding: 0;
	font-family: "2-Questa_Sans_Regular";
}

/* POLICES */
@font-face {
    font-family: '2-Questa_Sans_Regular';
    src: url('font/2-Questa_Sans_Regular-webfont.woff2') format('woff2'),
         url('font/2-Questa_Sans_Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media screen and (max-width: 800px)
{
   body
   {
      padding: 100px 0px 100px 0px;
   }
}